* {
      margin: 0;
      padding: 0;
      border: none;

      box-sizing: border-box;
}

body {
      margin: 0 auto;
      font-size: 16px;
      background-color: rgb(7, 0, 26);
      color: rgb(241, 241, 241);

      font-family: 'bely', serif;
      font-weight: 700;
      font-style: normal;
}


a {
      text-decoration: none;
      color: white;
      cursor: pointer;
}

a:hover {
      color: grey;
      transition: all 0.2s ease;
}


.hidden {
      display: none;
}


/* 1. Header */

header {
      background-color: rgb(22, 18, 46);
      box-shadow: 5px 5px 5px rgb(39, 34, 67) ;
}

nav {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
}

li {
      margin-right: 40px;
}


.nav {
      display: flex;
      margin-top: 110px;
}

.nav li {
      font-size: 22px;
}

.nav li:first-child {
      margin-left: 24px;
}

#main-logo {
      width: 140px;
      height: 140px;
      display: flex;
      justify-content: center;

      margin-top: 20px;
      margin-bottom: 20px;
}


#top-nav-L {
      margin-right: 10px;
}

/* #top-nav-L li:last-child {
      border: 1px solid white;
      border-radius: 5px;
      
      padding: 10px;
} */


 /* 2. main */

#benner {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      font-size: 35px;

      border: solid 1px rgb(222, 211, 255);
      border-radius: 5px;
      padding: 10px;

      margin-left: 50px;
      margin-right: 50px;

      cursor: pointer;
}

#benner:hover {
      background-color: rgb(222, 211, 255);
      color: rgb(4, 0, 26);
}

.icon-container{
      margin: 30px 100px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      
}

.wrapper {
      margin: 20px;
      text-align: center;
      cursor: pointer;
}

.wrapper img {
      width: 170px;
      padding: 15px;
}

.wrapper img:hover {transform: scale(1.2);}

.wrapper p {
      font-size: 22px;
      margin: 10px;
}

.wrapper p:hover {
      transition: all 0.8s ease;
      background-color: azure;
      color: rgb(6, 4, 18);
}

footer {
      background-color: rgb(64, 47, 115);
}

#footer-comment {
      color: rgb(222, 211, 255);
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
}